.car {
	&-card__blocks {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		margin-top: 15px;
		gap: 20px;
		@media screen and (max-width: 800px) {
			justify-items: center;
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&-card__block {
		grid-column: 3 span;
		cursor: pointer;
		@media screen and (max-width: 800px) {
			grid-column: 4 span;
		}
	}

	&-card__img {
		overflow: hidden;
		border-radius: 10px;
		transition: all 0.3s linear;
		@media screen and (max-width: 620px) {
			border-radius: 15px;
		}

		img {
			object-fit: cover;
		}
	}

	&-card__title-amount{
		display: flex;
		@include adaptiv-value(margin-top, 15, 12, 1);
		@include adaptiv-value(margin-bottom, 3, 5, 1);
		font-weight: 700;
		font-size: 25px;
		line-height: 130%;
	}

	&-card__title {
		color: var(--text-black);
		transition: all 0.3s linear;
		@media screen and (max-width: 620px) {
			font-size: 26px;
			line-height: 140%;
		}
	}

	&-card__amount{
		position: relative;
		margin-left: 19px;
		color: var(--text-grey);

		&::before{
			content: '';
			position: absolute;
			left: -12px;
			top: 15px;
			border-radius: 50%;
			width: 5px;
			height: 5px;
			background-color: var(--text-grey);
		}
	}

	&-card__price-discount{
		display: flex;
	}

	&-card__price {
		font-weight: 400;
		font-size: 18px;
		line-height: 135%;
		color: var(--text-grey);
		@media screen and (max-width: 620px) {
			line-height: 100%;
		}
	}

	// &-card__discount{
	// 	margin-left: 10px;
	// 	border-radius: 25px;
	// 	padding: 2px 6px;
	// 	font-weight: 700;
	// 	font-size: 16px;
	// 	line-height: 135%;
	// 	color: var(--white);
	// 	background-color: #E63535;
	// }

	&-card__block:hover {
		.car {
			// &-card__img {
			// 	// background-color: #f6f7f8;
			// }

			&-card__title {
				color: var(--primary-color);
			}
		}
	}

	&-card__block.active {
		.car {
			// &-card__img {
			// 	// background-color: #e2f1ff;
			// }

			&-card__title {
				color: var(--primary-color);
			}
		}
	}
}
