.choice-car {
	display: flex;
	flex-direction: column;

	&__blocks {
		display: flex;
		flex-direction: column;
	}

	&__block {
		display: flex;
		column-gap: 30px;
		align-items: center;
		transition: all 0.3s ease;
		cursor: pointer;
		row-gap: 15px;
		@include adaptiv-value(border-radius, 45, 25, 1);
		@include adaptiv-value-in-min(margin-left, -120, -15, 940, 375);
		@include adaptiv-value-in-min(margin-right, -120, -15, 940, 375);
		@include adaptiv-value-in-min(padding-left, 120, 15, 940, 375);
		@include adaptiv-value-in-min(padding-right, 120, 15, 940, 375);
		@include adaptiv-value(padding-top, 10, 15, 1);
		@include adaptiv-value(padding-bottom, 10, 15, 1);
		@media screen and (max-width: 670px) {
			flex-direction: column;
		}
	}

	&__img {
		// width: 100%;
		// max-width: 340px;
		width: 340px;
		height: 275px;

		// he
		// @media screen and (max-width: 670px) {
		// 	min-width: 100%;
		// }
	}

	&__swiper {
		position: relative;
		display: block;
		overflow: hidden;

		// width: 100%;
		// height: 100%;
		width: 340px;
		height: 275px;
	}

	&__wrapper {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 20;
		display: flex;
		width: 100%;
		height: 100%;
	}

	&__slide {
		flex-grow: 1;
		cursor: pointer;
	}

	&__slide-img {
		position: absolute;
		left: 50%;
		top: 0;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;

		// background-color: var(--red-light);
		opacity: 0;
		transform: translateX(-50%);
		pointer-events: none;
	}

	&__slide-img img {
		border-radius: 20px;
		height: 100%;
		object-fit: cover;
	}

	&__slide:first-child .choice-car__slide-img {
		z-index: -1;
		opacity: 1;
	}

	&__slide:hover .choice-car__slide-img {
		z-index: -1;
		opacity: 1;
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		// row-gap: 12px;
		@media screen and (max-width: 670px) {
			align-items: stretch;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 130%;
		color: var(--text-black);
		transition: all 0.3s ease;
	}

	&__price {
		font-weight: 700;
		font-size: 24px;
		line-height: 130%;
		color: var(--primary-color);
		@include adaptiv-value(margin-top, 7, 10, 1);
		@include adaptiv-value(margin-bottom, 15, 10, 1);
	}

	&__price-total {
		margin-right: 25px;
	}

	// &__price-month {
	// }

	&__mileage-owner {
		display: flex;
		font-weight: 400;
		font-size: 18px;
		line-height: 135%;
		color: var(--text-grey);
	}

	&__mileage {
		margin-right: 25px;
	}

	// &__owner {
	// }

	&__charact {
		font-weight: 400;
		font-size: 18px;
		line-height: 135%;
		color: var(--text-grey);
		@include adaptiv-value(margin-top, 7, 5, 1);
		@include adaptiv-value(margin-bottom, 17, 15, 1);
	}

	&__tel {
		border-radius: 15px;
		padding: 11px 15px;
		font-weight: 700;
		font-size: 18px;
		line-height: 135%;
		text-align: center;
		color: var(--text-black);
		background-color: var(--bg-color);
		transition: all 0.3s ease;
	}

	&__block:hover,
	&__block.active {
		background-color: var(--red-light);

		.choice-car__title {
			color: var(--primary-color);
		}

		.choice-car__tel {
			color: var(--primary-color);
			background-color: var(--white);
		}

		.choice-car__mileage-owner {
			color: var(--text-black);
		}

		.choice-car__charact {
			color: var(--text-black);
		}
	}

	&__btn {
		@include adaptiv-value(margin-top, 20, 15, 1);
	}
}
