.years {
	&__block {
		display: flex;
		flex-direction: column;

		// width: 100%;
	}

	&__selects {
		display: flex;
	}

	&__select-item {
		position: relative;
		flex: 1 1 50%;
	}

	&__input {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid var(--border-color);
		transition: all 0.2s ease;
		cursor: pointer;
		@include adaptiv-value(padding-top, 25, 21, 1);
		@include adaptiv-value(padding-bottom, 24, 21, 1);
		@include adaptiv-value(padding-left, 25, 15, 1);
		@include adaptiv-value(padding-right, 38.5, 26, 1);

		.arrow-input {
			stroke: #cdcdcd;
			transition: all 0.3s ease;
		}
	}

	&__select-item:nth-child(1) {
		& .years__input {
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}
	}

	&__select-item:nth-child(2) {
		& .years__input {
			margin-left: -1px;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}

	&__input-text {
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		color: var(--text-grey);
		transition: all 0.2s ease;
	}

	&__input:hover {
		z-index: 10;
		border-color: var(--primary-color);

		.years__input-text {
			color: var(--primary-color);
		}

		.arrow-input {
			stroke: var(--primary-color);
		}
	}

	&__input.active {
		z-index: 10;
		border-color: var(--primary-color);

		.years__input-text {
			color: var(--primary-color);
		}

		.arrow-input {
			stroke: var(--primary-color);
			transform: rotate(180deg);
		}
	}

	&__select {
		position: absolute;
		left: -1px;
		z-index: -10;
		display: flex;
		flex-direction: column;
		margin-top: 10px;
		border-radius: 10px;
		padding-top: 10px;
		box-shadow: 0 5px 13px rgba(0, 0, 0, 0.12);
		background-color: var(--white);
		opacity: 0;
		visibility: hidden;
		transform: translateY(10px);
		transition: all 0.3s ease-in-out;

		&.active {
			z-index: 10;
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}

	&__option {
		padding-right: 30px;
		padding-left: 44px;
		font-weight: 400;
		font-size: 18px;
		line-height: 205%;
		color: var(--text-black);
		cursor: pointer;

		&:hover {
			color: var(--primary-color);
			background-color: var(--red-light);
		}

		&.clear {
			color: var(--text-grey);
			background-image: url('./../img/close-icon.svg');
			background-position: left 17px center;
			background-size: 13px 13px;
			background-repeat: no-repeat;
		}

		&.active {
			color: var(--white);
			background-color: var(--primary-color);
		}
	}

	&__checkbox {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;
		@include adaptiv-value(margin-top, 25, 10, 1);
		@include adaptiv-value(margin-bottom, 20, 15, 1);
		@media screen and (max-width: 715px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;
		}
	}

	&__checkbox-block {
		position: absolute;
		display: flex;
		flex-direction: column;
		grid-column: 1 span;
		border: 1px solid var(--choice-multi);
		border-radius: 10px;
		padding: 15px 15px 19px 20px;
		background-color: var(--choice-multi);
		opacity: 0;
		visibility: hidden;
		transform: translateY(-20px);
		transition: background-color 0.2s ease, transform 0.3s ease-in-out;
		cursor: pointer;

		&.isVisible {
			position: static;
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
		@media screen and (max-width: 810px) {
			padding: 12px 10px 12px 12px;
			transform: translateY(-10px);
		}
	}

	&__checkbox-top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
	}

	&__checkbox-year {
		font-weight: 500;
		font-size: 20px;
		line-height: 135%;
		color: var(--text-black);
		transition: all 0.3s ease;
		@media screen and (max-width: 715px) {
			font-weight: 400;
			font-size: 18px;
		}
	}

	&__checkbox-name {
		overflow: hidden;
		width: 157px;
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: var(--text-grey);
		@media screen and (max-width: 880px) {
			width: 125px;
		}
	}

	&__checkbox-check {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #e4e4e4;
		border-radius: 5px;
		width: 22px;
		height: 22px;
		background-color: var(--white);
		transition: all 0.2s ease-in-out;

		svg {
			opacity: 0;
			visibility: hidden;
		}
	}

	&__checkbox-block.active {
		border: 1px solid rgba(49, 51, 62, 0.5);
		background-color: rgba(52, 52, 52, 0.07);

		.years__checkbox-name {
			color: #31333e;
		}

		.years__checkbox-check {
			border: 1px solid #939499;
			background-color: #f9f9f9;

			svg {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__checkbox-block:hover {
		background-color: rgba(52, 52, 52, 0.07);

		.years__checkbox-name {
			color: var(--text-grey);
		}
	}

	&__show-more {
		@include adaptiv-value(margin-bottom, 22, 17, 1);
		position: relative;
		display: flex;
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		color: var(--primary-color);
		background-color: var(--white);
		cursor: pointer;

		& .arrow-input {
			margin-top: 5.8px;
			margin-left: 8.5px;
			stroke: var(--primary-color);
		}

		&.active {
			.arrow-input {
				transform: rotate(180deg);
			}
		}
	}

	// &__continue {
	// }
}

// .arrow-input {
// }

// .select-from {
// }

// .clear {
// }

// .option {
// }

// .btn-continue {
// }
