.chat {
	opacity: 0;
	transition: all 0.3s ease;

	&__blocks {
		display: flex;
		flex-direction: column;
		margin-top: 53px;
		@include adaptiv-value(margin-top, 53, 30, 1);
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		max-width: 940px;
		row-gap: 40px;
	}

	&__block {
		&:nth-child(2),
		&:nth-child(3) {
			position: absolute;
			z-index: -10;
			opacity: 0;
			visibility: hidden;
		}

		&.msg-show {
			position: static;
			z-index: 1;
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}

	&__container {
		@include adaptiv-value-in-min(padding-left, 120, 15, 940, 375);
		@include adaptiv-value-in-min(padding-right, 120, 15, 940, 375);
		@include adaptiv-value(border-radius, 100, 40, 1);
		@include adaptiv-value(padding-top, 40, 25, 1);
		@include adaptiv-value(padding-bottom, 60, 15, 1);
		background-color: var(--white);
	}

	&__block:nth-child(1) {
		.chat__container {
			box-shadow: 0 -5px 0 #e63535;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
	}

	&.show_anim {
		animation-delay: 0.5s;
	}
}

.total-price {
	font-weight: 700;
	font-size: 20px;
	line-height: 135%;
	color: var(--primary-color);
}
