.chat {
	&__consultant-inner {
		display: flex;
		align-items: center;
		@include adaptiv-value(margin-bottom, 35, 20, 1);

		// @media screen and (max-width: 650px) {
		// 	justify-content: space-between;
		// }
	}

	&__consultant-img {
		display: flex;
		align-items: center;
		border-radius: 50%;
		@include adaptiv-value(min-width, 100, 80, 1);
		@include adaptiv-value(min-height, 100, 80, 1);
		@include adaptiv-value(margin-right, 25, 15, 1);
	}

	// &__consultant-info {
	// }

	&__consultant-name {
		@include adaptiv-value(margin-bottom, 5, 2, 1);
		@include adaptiv-value(font-size, 23, 20, 1);
		font-weight: 700;
		line-height: 125%;
		color: var(--text-black);
	}

	&__consultant-position {
		@include adaptiv-value(font-size, 17, 14, 1);
		font-weight: 400;
		line-height: 135%;
		color: var(--text-grey);
	}
}
