.mileage {
	&__block {
		display: flex;
		flex-direction: column;
		@include adaptiv-value(row-gap, 20, 10, 1);

		// width: 100%;
	}

	&__inputs {
		display: flex;
	}

	&__label {
		flex: 1 1 50%;
	}

	&__input {
		position: relative;
		border: 1px solid var(--border-color);
		width: 100%;
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		color: var(--text-grey);
		transition: all 0.2s ease;
		@include adaptiv-value(padding-top, 25, 21, 1);
		@include adaptiv-value(padding-bottom, 25, 21, 1);
		@include adaptiv-value(padding-left, 25, 15, 1);

		&:focus {
			z-index: 10;
			border-color: var(--primary-color);
			color: var(--primary-color);
		}

		&:hover {
			z-index: 10;
			border-color: var(--primary-color);
			color: var(--primary-color);
		}

		// &::placeholder {
		// 	color: var(--text-grey);
		// }
	}

	&__label:nth-child(1) {
		.mileage__input {
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}
	}

	&__label:nth-child(2) {
		.mileage__input {
			margin-left: -1px;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}

	&__checkbox {
		position: relative;
		display: flex;
		justify-content: space-between;
		@include adaptiv-value(gap, 16, 10, 1);
		@media screen and (max-width: 950px) {
			flex-direction: column;
		}
	}

	&__checkbox-block {
		$ptb-b: 29;
		$ptb-s: 17;
		$plr-b: 82;
		$plr-s: 94;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--choice-multi);
		border-radius: 10px;
		width: 100%;
		background-color: var(--choice-multi);
		cursor: pointer;
		@include adaptiv-value(padding-top, $ptb-b, $ptb-s, 1);
		@include adaptiv-value(padding-bottom, $ptb-b, $ptb-s, 1);
		@include adaptiv-value(padding-left, $plr-b, $plr-s, 1);
		@include adaptiv-value(padding-right, $plr-b, $plr-s, 1);
	}

	&__checkbox-text {
		font-weight: 500;
		@include adaptiv-value(font-size, 20, 18, 1);
		line-height: 135%;
		text-align: center;
		color: var(--text-black);
	}

	&__checkbox-check {
		$right-top: 15px;
		position: absolute;
		right: $right-top;
		top: $right-top;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #e4e4e4;
		border-radius: 5px;
		width: 22px;
		height: 22px;
		background-color: var(--white);
		@media screen and (max-width: 750px) {
			$right-top: 10px;
			right: $right-top;
			top: $right-top;
		}

		svg {
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease-in-out;
		}
	}

	&__checkbox-block:hover {
		background-color: rgba(52, 52, 52, 0.07);

		// & .mileage__checkbox-text {
		// 	color: var(--primary-color);
		// }
	}

	&__checkbox-block.active {
		border: 1px solid rgba(49, 51, 62, 0.5);
		background-color: rgba(52, 52, 52, 0.07);

		.mileage__checkbox-check {
			border: 1px solid #939499;
			background-color: #f9f9f9;
			svg {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	// &__continue {
	// }
}
