:root {
	--primary-color: #f53737;
	--bg-color: #f9f9f9;
	--answer-msg: #343434;
	--border-color: #efefef;
	--white: #ffffff;
	--choice-multi: rgba(52, 52, 52, 0.03);
	--red-light: #ffeded;
	--text-grey: #909090;
	--text-black: #282626;
}
